<header>
  <div id="logo">
    <span>About</span>
  </div>
</header>

<div class="page" bp="container">
  <div class="top-area">
    <p>Discalendar is meant to help clans/guilds/friends/streamers schedule events. You can schedule raids and have your members RSVP. Streamers can put on their calendars when they're going to stream so their viewers know when they're on.</p>
    <p>Discalendar is in beta mode right now, so there may be some bugs. But the very basics should be working.</p>
    <p>If you have any features you'd like to see or are having problems, contact <span class="main-color">discalendarapp@gmail.com</span></p>
    <br>
    <p>First, click the button below to invite the Discalendar bot to your server.</p>

    <%= link_to("https://discordapp.com/oauth2/authorize?client_id=548951334775291936&scope=bot&permissions=448576", class: "discord-btn") do %>
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 240"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/><path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/></svg>
        <span>Invite Discalendar to your Discord server</span>
    <% end %>
    <p>
      Then, visit <%= link_to "https://www.discalendar.com", root_path %> to see your calendars and start scheduling events.
    </p>
  </div>
  <div bp="grid">
    <div bp="6">
      <div class="page-widget-header">
        <h2>List of Commands</h2>
      </div>
      <ul class="list-unstyled">
        <li>
          <strong>!create calendar</strong><br>
          <span>
            This is probably the first command you'll want to run.
            <br>
            It creates a calendar for the server.
            <br>
            <span class="alert-color">Only the owner of the server can create a calendar</span>
          </span>
        </li>
        <li>
          <strong>!join calendar</strong><br>
          <span>
            Join the calendar of the server you are in.
            <br>
            This does not happen by default, so if you are in a server that has a calendar, you will need to run this command to join the calendar.
          </span>
        </li>
        <li>
          <strong>
            !create event "<span class="main-color">name</span>" "<span class="main-color">date</span>"
          </strong>
          <br>
          <span>
            Create event on the given calendar/server.
            <br>
            <span class="main-color">name</span>: Name of the event being created
            <br>
            <span class="main-color">date</span>: Datetime of the event
            <br>
            <i>Example => !create event "Raid" "02/24/2019 9:00PM CST"</i>
            <br>
            <span class="alert-color">Only the owner of the server can create an event</span>
          </span>
        </li>
      </ul>
    </div>
    <div bp="6">
      <div class="page-widget-header">
        <h2>Events</h2>
      </div>
      <p>Things that happen when you interact with the Discalendar Bot.</p>
      <strong>Reacting to an event</strong>
      <br>
      <span>When an event is created, the event is shown and the :white_check_mark: emoji will appear. When a user clicks on that emoji, they will be added as a participant of the event.</span>
      <p>Similarly, if a user has reacted to the event and now wants to retract their reaction (by clicking on it again), the user will be removed from the event.</p>
    </div>
  </div>
</div>