.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.discord-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  background: #7289da;
  max-width: 460px;
  border: 0;
  padding: 18px 14px 18px 55px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  svg {
    width: 3em;
    position: absolute;
    margin-left: -48px;
    margin-top: -8px;
  }
}

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

a {
  color: #f89406;
  text-decoration: none;
  .discord-color {
    color: #7289da;
  }
}